<!DOCTYPE html>
<html>
<head>
    <title>Confirm Manufacturer Deletion</title>
</head>
<body>
    <h1>Confirm Manufacturer Deletion</h1>
    <table border="1">
        <tr>
            <td>Are you sure you want to delete {{ manufacturer.name }}?</td>
        </tr>
        <tr>
            <td>
                <form method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Confirm">
                </form>
            </td>
            <td><a href="/api/manufacturers/">Cancel</a></td>
        </tr>
    </table>
</body>
</html>