<!DOCTYPE html>
<html>
<head>
    <title>{{ product.name }}</title>
</head>
<body>
    <h1>{{ product.name }}</h1>
    <p><strong>Manufacturer:</strong> {{ product.manufacturer }}</p>
    <p><strong>Quantity:</strong> {{ product.quantity }}</p>
    <p><strong>Description:</strong> {{ product.description }}</p>
    <p><strong>Price:</strong> ${{ product.price }}</p>
    <p><strong>Shipping Cost:</strong> ${{ product.shipping_cost }}</p>
    <img src="{{ object.photo.url }}" alt="product photo">
</body>
</html>
