body {
    background: #3B7197;
}

.searchbar {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
}

.searchbar input {
    margin-left: 10px;
    width: 75%;
}


.addProductSec,
.viewProductSection {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(198, 198, 198);
    border-radius: 5px;
}